/* Modal Styles */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.inventory-container {
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(49, 29, 29, 0.8); 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  backdrop-filter: blur(1px); 
}

.header {
  width: 100%;
  height: 60px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.item-box {
  width: 111vh;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.centered-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: url('/images/landing-image.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.add-item-button {
  margin-bottom: 20px;
  border-radius: 8px;
}

.search-field {
  margin-bottom: 20px;
  width: 400px; 
  background-color: rgba(49, 29, 29, 0.8);
}

.item-name {
  font-weight: bold;
}

.item-quantity {
  color: #555;
}

.inventory-list {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px; 
}

button {
  border-radius: 8px;
}

.typography-center {
  text-align: center;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.image-container {
  position: relative;
  width: 100%; 
  height: 100%; 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text, .overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  padding: 10px;
  border-radius: 5px;
}

.overlay-button {
  top: 80%;
}